*.pc
/build/vc6/*.rc
/build/*.rc
/build/*/*.sdf
/build/*/*.suo
/build/*/*.vcxproj.user
/build/*/tmp/
/build/cmake/*
/auto/extensions
/auto/registry
/bin
/lib
/tmp
/out
.DS_Store*
/glew-*.zip
/glew-*.tgz
/CMake*
/cmake_*
